ENVIRONMENT=test
CLIENT_ORIGIN_URL=*


PROPEL_AUTH_KEY=AKEY


PROPEL_AUTH_URL=https://123456.propelauthtest.com


OPENAI_API_KEY=DISABLED
PORT=6060
FIREBASE_CERT_CONFIG={ "Something": "Something" }
FLASK_APP=api
FLASK_RUN_PORT=6060
FLASK_ENV=development

ENC_DEC_KEY="DISABLED"


SLACK_BOT_TOKEN=AKEYTODO
SLACK_WEBHOOK=WEBHOOKTHINGTODO

# Shared secret the praise-bot uses to read /api/praise-bot/config
# (falls back to BACKEND_PRAISE_TOKEN if unset)
BACKEND_BOT_CONFIG_TOKEN=CHANGEME

